*.sb filter=lfs diff=lfs merge=lfs -text lockable
*.sm filter=lfs diff=lfs merge=lfs -text lockable
*.fc filter=lfs diff=lfs merge=lfs -text lockable
*.tt filter=lfs diff=lfs merge=lfs -text lockable
*.mw filter=lfs diff=lfs merge=lfs -text lockable
*.bd filter=lfs diff=lfs merge=lfs -text lockable
*.ibd filter=lfs diff=lfs merge=lfs -text lockable
*.am filter=lfs diff=lfs merge=lfs -text lockable
interface filter=lfs diff=lfs merge=lfs -text lockable
UART_MultiLib/hdl/tester.v filter=lfs diff=lfs merge=lfs -text lockable
lib1/hdl/address_decode_rtl.vhd filter=lfs diff=lfs merge=lfs -text lockable
lib1/hdl/uart_top_rtl.vhd filter=lfs diff=lfs merge=lfs -text lockable
lib3/hdl/serial_interface_rtl.vhd filter=lfs diff=lfs merge=lfs -text lockable
UART_MultiLib/hdl/inc_file.v filter=lfs diff=lfs merge=lfs -text lockable
UART_MultiLib/hdl/uart_tb.v filter=lfs diff=lfs merge=lfs -text lockable
lib1/hdl/clock_divider.v filter=lfs diff=lfs merge=lfs -text lockable
lib1/hdl/status_registers_rtl.vhd filter=lfs diff=lfs merge=lfs -text lockable
lib2/hdl/cpu_interface_rtl.vhd filter=lfs diff=lfs merge=lfs -text lockable
uart/hdl/status_registers_spec.vhd filter=lfs diff=lfs merge=lfs -text lockable
